.DS_Store
.qmake.stash
*.app/
*.dmg
/Makefile*
build/
qrc_bitcoin.cpp
*~
src/qt/locale/*.qm
*.swp
*.swo
src/graphcoind
src/secp256k1/build-aux/*
graphcoind_linux
graphcoin-qt_plugin_import.cpp
object_script.Graphcoin-qt.*
release/
Grapchoin-qt*
graphcoind
